
.body{
    background-color: #f0b5a8;
    text-align: center;
}

    .hex-colorido {
    background-color: #fdad78;
    color: #523b11;
}
.netflix{
    background-color: #f7360a;
}

    .filmes {
    background-color: #070100;
    color: #f1270c;
}